/* Min Width 1201px and Max Width 1400px */

@media (min-width: 1201px) and (max-width: 1400px) {
  .hero-content h1 {
    font-size: 64px;
    line-height: 70px;
  }

  .benefits-texts h1 {
    font-size: 56px;
    line-height: 65px;
  }

  .pricing-wrapper {
    padding: 100px;
  }
}

/* Min Width 993px and Max Width 1200px */

@media (min-width: 993px) and (max-width: 1200px) {
  .hero-content h1 {
    font-size: 56px;
    line-height: 60px;
  }

  .benefits-texts h1 {
    font-size: 48px;
    line-height: 55px;
  }

  .pricing-wrapper {
    padding: 100px 50px;
  }

  .pricing-plan-content h2 {
    font-size: 56px;
  }
}

/* Min Width 769px and Max Width 992px */

@media (min-width: 769px) and (max-width: 992px) {
  h2 {
    font-size: 36px;
    line-height: 40px;
  }

  .header-contact {
    padding-right: 50px;
  }

  .hero-content h1 {
    font-size: 48px;
    line-height: 50px;
  }

  .benefits-texts h1 {
    font-size: 40px;
    line-height: 45px;
  }

  .pricing-wrapper {
    padding: 100px 50px;
  }

  .pricing-plan-content h2 {
    font-size: 48px;
  }

  .pricing-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Min Width 300px and Max Width 767px */

@media (min-width: 300px) and (max-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 34px;
  }

  p {
    font-size: 16px;
  }

  .navigation-wrapper {
    padding: 15px 20px;
    overflow: hidden;
  }

  .header-contact {
    padding-right: 0px;
  }

  .close-btn {
    padding: 18px 16px 70px;
    cursor: pointer;
    display: none;
  }

  .close-btn span {
    font-size: 16px;
    font-weight: 400;
    float: right;
    color: #010101;
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    display: block;
    background: #f7fbfa;
    transition: all 0.3s ease-in-out;
    z-index: 999;
  }

  .mobile-menu.active {
    width: 315px;
    padding-left: 15px;
  }

  .mobile-menu.active .close-btn {
    display: block;
  }

  .header-address,
  .header-contact {
    display: none;
  }

  .mobile-menu.active .header-address,
  .mobile-menu.active .header-contact {
    display: block;
  }

  .mobile-menu .header-contact {
    padding-top: 40px;
  }

  .header-address h6,
  .header-contact h6,
  .header-address p,
  .header-contact a {
    color: #010101;
  }

  .contact-btn {
    display: block;
    cursor: pointer;
  }

  .hero-content h1 {
    font-size: 39px;
    line-height: 41px;
  }

  .hero-wrapper {
    padding: 40px 15px 0;
  }

  .hero-container {
    flex-direction: column-reverse;
  }

  .hero-content {
    padding-top: 50px;
  }

  .hero-img img {
    max-width: 80%;
    margin: auto;
  }

  .hero-img img {
    max-width: 220px;
    max-height: 273px;
  }

  .hero-content,
  .hero-img,
  .what-do-img,
  .what-do-content {
    width: 100%;
  }

  .what-do-wrapper {
    padding: 80px 15px 0;
  }

  .what-do-container {
    flex-direction: column;
  }

  .what-do-content {
    padding-top: 30px;
    padding-left: 0;
  }

  .what-do-img img {
    width: 100%;
  }

  .google-audits-wrapper {
    padding: 30px 15px 0;
  }

  .google-audits-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: self-start;
  }

  .google-audits-content {
    margin: initial;
    text-align: left;
    padding-top: 40px;
  }

  .google-audits-cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 40px;
    justify-items: center;
  }

  .audits-number h2 {
    width: 64px;
    height: 64px;
    font-size: 26px;
  }

  .google-audits-card h5 {
    font-size: 16px;
  }

  .features-wrapper {
    padding: 80px 15px 0;
  }

  .features-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .features-card-icon img {
    width: 14%;
  }

  .features-card-icon.mobile-icon img {
    width: 10%;
  }

  .features-card-content h3 {
    font-size: 24px;
  }

  .benefits-wrapper {
    padding: 80px 15px 0;
  }

  .benefits-container {
    flex-direction: column;
  }

  .benefits-content,
  .benefits-features {
    width: 100%;
  }

  .benefits-content {
    position: initial;
    padding-right: 0;
    padding-bottom: 40px;
  }

  .benefits-texts h1,
  .pricing-plan-content h3 {
    font-size: 32px;
    line-height: 34px;
  }

  .benefits-features {
    padding-left: 0px;
  }

  .benefits-card {
    margin-bottom: 30px;
  }

  .benefits-card-content h4 {
    font-size: 24px;
  }

  .benefits-card-icon img {
    width: 32px;
  }

  .benefits-card-content p {
    font-size: 16px;
  }

  .gallery-img img {
    max-width: 400%;
    width: 400%;
    margin-left: -125px;
    margin-bottom: -90px;
  }

  .pricing-wrapper {
    padding: 80px 15px;
  }

  .pricing-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
