/* Base Style CSS Start */

/* Fonts */

/* Proxima Nova Font */

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/Proxima\ Nova\ Thin.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/Proxima\ Nova\ Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/Proxima\ Nova\ Semibold.otf);
  font-weight: 600;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/Proxima\ Nova\ Bold.otf);
  font-weight: 700;
}

/* Zuume Font */

@font-face {
  font-family: "Zuume";
  src: url(../fonts/Zuume\ Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Zuume";
  src: url(../fonts/Zuume\ Bold.ttf);
  font-weight: 700;
}

/* Neue Haas Grotesk Display Pro Font */

@font-face {
  font-family: Neue Haas Grotesk Display Pro;
  src: url(../fonts/NeueHaasDisplayMediu.ttf);
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova", sans-serif;
  color: #f7fbfa;
  background: #010101;
  scroll-behavior: smooth;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

h2 {
  font-family: Zuume;
  font-size: 46px;
  font-weight: 600;
  line-height: 48px;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-family: Zuume;
  font-size: 36.216px;
  font-weight: 700;
  line-height: 37.791px;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  padding-top: 15px;
  margin-bottom: 0;
}

/* Base Style CSS End */

/* Header Part CSS Start */

/* Navigation Section CSS Start */

.navigation-wrapper {
  padding: 20px 60px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header-address h6,
.header-contact h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.header-contact {
  padding-right: 100px;
}

.contact-btn {
  display: none;
}

.header-address p,
.header-contact a,
.contact-btn span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #f7fbfa;
  padding-top: 0;
  margin-bottom: 0;
}

.mobile-menu {
  display: none;
}

/* Navigation Section CSS End */

/* Hero Section CSS Start */

.hero-wrapper {
  padding: 110px 60px 0;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content,
.hero-img {
  width: 50%;
}

.hero-content h1 {
  font-family: Zuume;
  font-size: 79.241px;
  font-weight: 600;
  line-height: 84.524px;
}

.hero-img {
  text-align: center;
}

.hero-img img {
  max-width: 312px;
  max-height: 385px;
}

/* Hero Section CSS End */

/* Header Part CSS End */

/* Main Part CSS Start  */

/* What We Do Section CSS Start */

.what-do-wrapper {
  padding: 80px 60px 0;
}

.what-do-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.what-do-img,
.what-do-content {
  width: 50%;
}

.what-do-content {
  padding-left: 50px;
}

.what-do-img img {
  width: 80%;
}

.waht-do-texts {
  max-width: 420px;
}

/* What We Do Section CSS End */

/* Google Audits Section CSS Start */

.google-audits-wrapper {
  padding-top: 120px;
}

.google-audits-container {
  max-width: 745px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.google-audits-content {
  max-width: 420px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.google-audits-content h2 span {
  color: #bef9cf;
}

.google-audits-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 50px;
  gap: 80px;
}

.audits-number h2 {
  width: 87px;
  margin: auto;
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 36px;
  font-weight: 600;
  color: #bef9cf;
  background: #243229;
  border: 4.5px solid #09ce6b;
  border-radius: 84.938px;
}

.google-audits-card h5 {
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding-top: 15px;
}

/* Google Audits Section CSS End */

/* Features Section CSS Start */

.features-wrapper {
  padding: 140px 60px 0;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
}

.features-card-content {
  max-width: 370px;
  width: 100%;
}

.features-card-content h3 {
  padding-top: 20px;
}

/* Features Section CSS End */

/* Benefits Section CSS Start */

.benefits-wrapper {
  padding: 200px 60px 0;
}

.benefits-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.benefits-content,
.benefits-features {
  width: 50%;
}

.benefits-content {
  position: sticky;
  top: 20px;
}

.benefits-texts {
  max-width: 690px;
}

.benefits-texts h1 {
  font-family: Zuume;
  font-size: 68px;
  font-weight: 600;
  line-height: 72px;
  -webkit-font-smoothing: antialiased;
}

.benefits-texts p {
  max-width: 615px;
  width: 100%;
}

.benefits-features {
  padding-left: 50px;
}

.benefits-card {
  margin-bottom: 60px;
}

.benefits-card:last-child {
  margin-bottom: 0px;
}

.benefits-card-content h4 {
  font-family: Zuume;
  font-size: 29px;
  font-weight: 700;
  padding-top: 20px;
  -webkit-font-smoothing: antialiased;
}

.benefits-card-content p {
  max-width: 335px;
  padding-top: 10px;
}

/* Benefits Section CSS End */

/* Gallery Section CSS Start */

.gallery-wrapper {
  padding: 80px 0 0;
  overflow: hidden;
}

.gallery-img img {
  width: 100%;
}

/* Gallery Section CSS End */

/* Pricing Section CSS Start */

.pricing-wrapper {
  padding: 100px 150px;
}

.pricing-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.pricing-plan {
  padding: 44px 24px 20px;
  border-radius: 4px;
  border: 1px solid #555;
}

.popular-plan {
  position: relative;
  border: 2px solid #8ce8d2;
}

.popular-tag {
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translate(-50%);
}

.popular-tag span {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 18px;
  color: #000;
  background: #8ce8d2;
  border-radius: 42px;
}

.pricing-plan-content h3 {
  font-family: Zuume;
  font-size: 39px;
  font-weight: 700;
}

.pricing-plan-content p {
  padding-top: 5px;
}

.pricing-plan-content h2 {
  font-family: Zuume;
  font-size: 62px;
  font-weight: 700;
  line-height: 68px;
  padding-top: 10px;
}

.pricing-features {
  padding-top: 25px;
}

.pricing-features li {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 12px;
}

.pricing-features li img {
  padding-right: 12px;
}

.pricing-btn a {
  display: block;
  font-family: Zuume;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
  color: #010101;
  background: #f7fbfa;
  border-radius: 4px;
}

/* Pricing Section CSS End */

/* Main Part CSS End  */
